extends layout
block content
    .jumbotron
        .container
            h1 #{title}
            p
                |A Fantasy Cricket Match is based on batting and bowling orders which are the most debated part of cricketing strategy. A little change in the order can change the course of the game. The concept involves selecting a team of 11 players and 3 substitutes from the pool of players who will play the match. There are no budget caps and player selection is not limited to a particular number of batsmen, bowlers and all-rounders. A fantasy team can have any type of players. The main aim in a Fantasy Cricket Match is to out-score the opposition by as big margin as possible. Fantasy cricket matches can be played in all 3 international forms: One Day International, Twenty20 and Test Cricket. The limited over matches, namely ODIs and T20s, are played in 2 interesting formats- Daily Games and Rounds.


            p
                a.btn.btn-primary.btn-lg(href='https://www.half11.com', role='button') Learn more »
    .container
        // Example row of columns
        .row
            .col-md-4
                h2 HALF 11
                p
                    | A public league is a league generally created by an administrator of the website for a particular tournament and anyone is free to join by paying an initial fee. The fee is only applicable for a paid league. For a free league, there is no initial payment needed. Such kind of free leagues are very popular during big ticket international cricket events such as ODI World cup, ICC T20 world cup, Indian Premier League and other high profile series such as the Ashes.
                p
                    a.btn.btn-secondary(href='https://www.half11.com', role='button') View details »
            .col-md-4
                h2 HALA PLAY
                p
                    | A public league is a league generally created by an administrator of the website for a particular tournament and anyone is free to join by paying an initial fee. The fee is only applicable for a paid league. For a free league, there is no initial payment needed. Such kind of free leagues are very popular during big ticket international cricket events such as ODI World cup, ICC T20 world cup, Indian Premier League and other high profile series such as the Ashes.
                p
                    a.btn.btn-secondary(href='https://www.halaplay.com', role='button') View details »
            .col-md-4
                h2 DREAM 11
                p
                    | A public league is a league generally created by an administrator of the website for a particular tournament and anyone is free to join by paying an initial fee. The fee is only applicable for a paid league. For a free league, there is no initial payment needed. Such kind of free leagues are very popular during big ticket international cricket events such as ODI World cup, ICC T20 world cup, Indian Premier League and other high profile series such as the Ashes.
                p
                    a.btn.btn-secondary(href='https://www.dream11.com', role='button') View details »
        hr